.users_wrapper img {
    width: 100px;
    height: 60px;
    border-radius: 20px;
    padding: 7px;
}

.users_wrapper button {
    background-color:rgb(33, 124, 227);
    width: 100px;
 
}
 
.Button {
    padding-left: 10px;
}