.Users_Main {
    display: flex;
    /* justify-content: center; */
    padding: 7px;
    padding-bottom: 3px;
}

.users_wrapper {
    border: 1px solid black;
    padding: 7px;
    display: flex;

    width: 90%;
}

.users_wrapper img {
    height: 60px;
    width: 100px;
}

.users_wrapper button {
    background-color: rgb(33, 124, 227);
    width: 100px;

}

.ava img {
    border-radius: 10 px;
}

.SelectedPage{
text-decoration:  aqua;
}