.Users_Main {
    display: flex;
    /* justify-content: center; */
    padding: 7px;
    padding-bottom: 3px;
}

.users_wrapper {
    border: 1px solid black;
    padding: 7px;
    display: flex;

    width: 90%;
}

.ava img {
    border-radius: 20px;
    height: 60px;
    width: 80px;
}

.users_wrapper button {
    background-color: rgb(33, 124, 227);
    width: 100px;

}



.SelectedPage {
    font-weight: 900;
}