.app-wraper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 10fr;
}

.app-wraper-dialogs {
    grid-area: c;
    background-color: chocolate;
}

  .item {
  color: burlywood;
}
